Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/StreetMap/*
Content/Characters/*
Content/Backgrounds/*
Plugins/StreetMap/Binaries/*
Plugins/StreetMap/Intermediate/*
Content/StreetMap/CentralLondon.uasset
Content/StreetMap/Static/CentralLondon0.uasset
*.png
