Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/Heavy/*
Plugins/StreetMap/Binaries/*
Plugins/StreetMap/Intermediate/*
Plugins/ModdingExtra/Binaries/*
Plugins/ModdingExtra/Intermediate/*
*.png
*.7z
*.mp4
